.speech {
  font-family: Calibri;
  font-size: medium;
  color: black;
}
.stage-direction {
  font-family: Calibri;
  font-size: medium;
  color: black;
}
.name {
  font-family: Calibri;
  font-size: medium;
  color: black;
}
.directions {
  color: red;
}
#a1:hover {
  background-color: Aquamarine;
}
.scenedescription {
  color: green;
}
.youngsyrian{
  color: blue;
}
.page{
  color:limegreen;
}
.firstsoldier{
  color: orangered;
}
.LORDGORING{
  color: magenta;
}
.SIRROBERTCHILTERN{
  color: blueviolet;
}
.characterName {
  font-size: 1rem;
  font-style: 🧑;
}

.description {
  font-size: .900rem;
}
.table,
td{
  border: 1px solid black;
  border-collapse: collapse;  
  text-align: left;
  color: red;
  padding: 5px;
}
th{
  border: 2px solid black;
  text-align: left;
  background-color: bisque;
}
tr:nth-child(even) {
  background-color: lightgreen;
}

